doctype
html(class="is_home_{{ui.is_home}} is_single_{{ui.is_single}}", ng-app="lobbycitoyen", xmlns="http://www.w3.org/1999/xhtml")
	include header_lobbycitoyen.jade
	body()
		div.main(ng-view, autoscroll="true")