doctype
html(ng-app="lobbycitoyen", xmlns="http://www.w3.org/1999/xhtml")
	include header.jade
	body()
		div.main(ng-view, autoscroll="true")
			// crawlers prerender
			h1 #{locals.site_description }
			h2 #{locals.site_description_long }

