


ul{margin:0; padding:0;}
.voter{
	padding:1%;
	background:#dadada;
 }

 .voter.group_UMP{
 	border-top:4px solid blue;
 }
  .voter.group_SRC{
 	border-top:4px solid red;
 }

.voter.position_Pour{
 	background: green;
 }
.voter.position_Contre{
 	background: red;
 }

.voter.position_Abstention{
 	background: #fff;
 }

.voter.position_Inconnue{
 	background: #dadada;
 }


 .voter.type_citoyen.byme_true{
 	background: pink;
 }
.voter_pic{
	margin:0 auto;
}

 .filters, .counts{
list-style:none;
	border:1px solid #ccc;
	margin:1% 0;
	padding:1%;
 }



 .filter-btns{

 }



 .filter-btns li a{
 	border:1px solid #ccc;
	margin:1% 0;
 }



.charttotal{
	    width:100%;
		 float: left;
		     border:1px solid #000;


}

.charttotal h3{
	 text-align:center;


}
.chartsgroup{
    float: left;
    width: 100%;
}
.chartgroup{
	 float: left;
     width: 15%;
     border-right:1px solid #000;
     padding:1%;
}

.chartgroup h4{
	text-align:center;
}


footer{
	background:#000;
	color:#fff;
	text-align:center;
	padding:1% 0;
	width:100%;
	float:left;
}
